<body>
    <ol >
        <h1> Dominican Republic</h1>
        <app-bottom></app-bottom>
        <img src="bottom/map.jpg">
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Azua"></a>Azua</li>
         <ul>
        <li> Senador: Lia Ynocencia Diaz </li>
         <li> Población: 128,264 </li>
         <li>Escudo de brazo:</li>
         <img src="https://es.wikipedia.org/wiki/Especial:RutaDeArchivo/Escudo_de_la_Provincia_Azua.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Bahoruco"></a>Bahoruco</li>
         <ul>
        <li> Senador: Melania Salvador Jimenez </li>
        <li> Población: 111,269 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Bahoruco.png">
         </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Barahona"></a>Barahona</li> 
        <ul>
        <li> Senador: José Manuel del Castillo Saviñón </li>
         <li> Población: 226,898 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Barahona.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Dajabón"></a>Dajabon</li> 
        <ul>
        <li> Senador: David Sosa </li> 
        <li> Población: 67,887 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Dajab%C3%B3n.png">
         </ul>
        <li><a href="https://es.wikipedia.org/wiki/Duarte_(provincia)"></a>Duarte</li>
         <ul>
        <li> Senador: Franklin Romero Morillo </li> 
        <li> Población: 384,789 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Duarte.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_El_Seibo"></a>El Seibo</li> 
        <ul>
        <li> Senador: Santiago Jose Zorrilla</li> 
        <li> Población: 115,889 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_El_Seibo.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/El%C3%ADas_Piña"></a>Elias Pina</li>
         <ul>
        <li> Senador: Aris Yván Lorenzo Suero</li> 
        <li> Población: 70,589 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_El%C3%ADas_Pi%C3%B1a.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Espaillat"></a>Espaillat</li> 
        <ul>
        <li> Senador: Carlos Gómez </li> 
        <li> Población: 390,478</li> 
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Espaillat.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Hato_Mayor"></a>Hato Mayor</li> 
        <ul>
        <li> Senador: Cristobal Castillo </li>
         <li> Población: 89,578</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Hato_Mayor.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Hermanas_Mirabal_(provincia)"></a>Hermanas Mirabal</li>
        <ul>
        <li> Senador: Luis Canaán</li> 
        <li> Población: 103,974 </li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Hermanas_Mirabal.png"> 
         </ul>
        <li><a href="https://es.wikipedia.org/wiki/Independencia_(República_Dominicana)"></a>Independencia</li>
        <ul>
        <li> Senador: Valentín Medrano</li>
         <li> Población: 54,785 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Independencia.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/La_Altagracia"></a>La Altagracia</li> 
        <ul>
        <li> Senador: Virgilio Cedano</li>
         <li> Población: 335,677 </li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_La_Altagracia.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/La_Romana_(provincia)"></a>La Romana</li> <ul>
        <li> Senador: Iván Fernández</li>
         <li> Población: 330,587 </li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_La_Romana.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_La_Vega"></a>La Vega</li>
         <ul>
        <li> Senador: Ramón Durán</li> 
        <li> Población: 420,478 </li> 
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_La_Vega.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Mar%C3%ADa_Trinidad_Sánchez_(provincia)"></a>Maria Trinidad Sanchez</li>
        <ul>
        <li> Senador: Alexis Yeb</li>
         <li> Población: 140,784</li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Mar%C3%ADa_Trinidad_S%C3%A1nchez.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Monseñor_Nouel_(provincia)"></a>Monsenor Nouel</li>
        <ul>
        <li> Senador: Héctor Acosta</li> 
        <li> Población: 201,474</li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Monse%C3%B1or_Nouel.png">
         </ul>
        <li><a href="https://es.wikipedia.org/wiki/Montecristi_(provincia)"></a>Monte Criti</li> <ul>
        <li> Senador: Ramón Gómez</li>
         <li> Población: 135,710</li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Monte_Cristi.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Monte_Plata"></a>Monte Plata</li> 
        <ul>
        <li> Senador: Lenin López</li>
         <li> Población: 200,454</li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Monte_Plata.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Pedernales_(provincia)"></a>Pedernales</li> <ul>
        <li> Senador: Dionis Carrasco</li>
         <li> Población: 38,941</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Pedernales.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Peravia"></a>Peravia</li>
         <ul>
        <li> Senador: Milcíades Franjul</li>
         <li> Población: 298,747</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Peravia.png"> 
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Puerto_Plata"></a>Puerto Plata</li> 
        <ul>
        <li> Senador: Jose Ignacio Paliza</li>
         <li> Población: 329,419 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Puerto_Plata.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Samaná"></a>Samana</li>
         <ul>
        <li> Senador: Pedro Catrain</li>
         <li> Población: 108,179 </li> 
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Saman%C3%A1.svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/San_Cristóbal_(provincia)"></a>San Cristobal</li>
         <ul>
        <li> Senador:Franklin Rodríguez</li>
         <li> Población: 275,232 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_San_Crist%C3%B3bal.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_José_de_Ocoa"></a>San Jose de Ocoa</li>
        <ul>
        <li> Senador:José Antonio Castillo</li>
         <li> Población: 21,148 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_San_Jos%C3%A9_de_Ocoa.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Juan_(República_Dominicana)"></a>San Juan</li>
        <ul>
        <li> Senador:Félix Bautista</li> 
        <li> Población: 169,032 </li> </ul>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_San_Juan.svg">
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_San_Pedro_de_Macor%C3%ADs"></a>San Pedro de Macoris</li>
        <ul>
        <li> Senador:Franklin Pena Villalona</li>
         <li> Población: 195,307</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_San_Pedro_de_Macoris_(En_cuadrilongo).svg">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Sánchez_Ram%C3%ADrez_(provincia)"></a>Sanchez Ramirez</li>
        <ul>
        <li> Senador:Ricardo de los Santos</li>
         <li> Población: 248.807 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_S%C3%A1nchez_Ram%C3%ADrez.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Provincia_de_Santiago_(República_Dominicana)"></a>Santiago</li>
        <ul>
        <li> Senador:Eduardo Estrella</li>
         <li> Población: 1,543,362 </li> </ul>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Santiago.svg">
        <li><a href="https://es.wikipedia.org/wiki/Santiago_Rodr%C3%ADguez_(provincia)"></a>Santiago Rodriguez</li>
        <ul>
        <li> Senador:Casimiro Marte</li>
         <li> Población: 57,476</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Santiago_Rodr%C3%ADguez.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Santo_Domingo_(provincia)"></a>Santo Domingo</li>
         <ul>
        <li> Senador:Antonio Taveras Guzmán</li> 
        <li> Población: 1,049,567</li>
        <li>Escudo de brazo:</li>
        <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Santo_Domingo.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Valverde_(República_Dominicana)"></a>Valverde</li> 
        <ul>
        <li> Senador:Martín Nolasco Vargas</li>
         <li> Población: 21,026</li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_la_Provincia_Valverde.png">
        </ul>
        <li><a href="https://es.wikipedia.org/wiki/Distrito_Nacional_(República_Dominicana)" id="bottom"></a>Distrito Nacional</li>
        <ul>
        <li> Senador: Faride Raful </li>
         <li> Población: 1,484,789 </li>
         <li>Escudo de brazo:</li>
         <img src="https://commons.wikimedia.org/wiki/File:Escudo_de_Santo_Domingo_de_Guzm%C3%A1n.svg">
         </ul>
        </ol>
        <app-top></app-top>      
</body>

    
    
    
    